%h1 Record a match

.col-md-4
  = form_tag "/record" do
    .form-group
      %label Date
      = date_field(:match, :date)
    .form-group
      %label Player 1
      = collection_select(:match, :player_1_id, Player.all, :id, :name, {}, {class: "form-control"})
    .form-group
      %label Player 2
      = collection_select(:match, :player_2_id, Player.all, :id, :name, {}, {class: "form-control"})
    %h3 Sets
    .form-group
      %label Game 1
      = text_field_tag("player_1[game_1]", nil, {placeholder: "Player 1", class: "form-control"})
      %br
      = text_field_tag("player_2[game_1]", nil, {placeholder: "Player 2", class: "form-control"})
    .form-group
      %label Game 2
      = text_field_tag("player_1[game_2]", nil, {placeholder: "Player 1", class: "form-control"})
      %br
      = text_field_tag("player_2[game_2]", nil, {placeholder: "Player 2", class: "form-control"})
    .form-group
      %label Game 3
      = text_field_tag("player_1[game_3]", nil, {placeholder: "Player 1", class: "form-control"})
      %br
      = text_field_tag("player_2[game_3]", nil, {placeholder: "Player 2", class: "form-control"})
    .form-group
      %label Game 4
      = text_field_tag("player_1[game_4]", nil, {placeholder: "Player 1", class: "form-control"})
      %br
      = text_field_tag("player_2[game_4]", nil, {placeholder: "Player 2", class: "form-control"})
    .form-group
      %label Game 5
      = text_field_tag("player_1[game_5]", nil, {placeholder: "Player 1", class: "form-control"})
      %br
      = text_field_tag("player_2[game_5]", nil, {placeholder: "Player 2", class: "form-control"})
    .form-group
      = submit_tag("Record", {class: "btn btn-primary"})
